* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.headerSection {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: rgb(156, 204, 255);
  color: white;
  padding-top: 20px;
  cursor: pointer;
}
.title {
  font-size: 1rem;
}
.title:hover {
  color: black;
}
.center ul li {
  display: inline-flex;
  list-style: "none";
  margin: 0px 10px;
}
.center ul li:hover {
  color: black;
}
.left {
  flex: 3;
}
.center {
  flex: 4;
}
.search {
  flex: 2;
}
.search input {
  padding: 10px;
  width: 20rem;
  border-radius: 5px;
  border: none;
  margin-left: -50px;
  margin-top: -20px;
}
.right {
  flex: 4;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}
.signin:hover {
  color: black;
}
.cart {
  color: rgb(156, 204, 255);
  background-color: white;
  border-radius: 5px;
  width: 80px;
  text-align: center;
  padding: 10px;
  margin-top: -10px;
}
.cart:hover {
  color: white;
  background-color: rgb(156, 204, 255);
  border-radius: 5px;
  width: 80px;
  text-align: center;
  padding: 10px;
  margin-top: -10px;
  border-width: 5px;
  border-color: white;
}
.bannerBox {
  margin: 10px 0;
}
.bannerBox img {
  width: 100%;
}
.menImage {
  display: flex;
  gap: 10px;
}
.menImage img {
  width: 220px;
  height: 220px;
}
